playwright==1.55.0
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
requests>=2.32.5,<3
beautifulsoup4==4.13.5
lxml==6.0.1
pandas==2.3.2
numpy==2.3.3
sqlalchemy==2.0.43
loguru==0.7.3
pyyaml==6.0.2
tenacity==9.1.2
ollama==0.5.3
pypdf==6.0.0
sentence-transformers==5.1.0
faiss-cpu==1.12.0
torch==2.8.0
transformers==4.56.1
accelerate==1.10.1
rank-bm25==0.2.2
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langgraph==0.6.7
fastapi==0.116.1
uvicorn==0.35.0
psycopg2-binary==2.9.10
prometheus-client==0.22.1
langgraph-checkpoint>=2.1.0,<3.0.0
streamlit